* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
}

.main {
    width: 50%;
    margin: auto;
    display: flex;
}

.main > div {
    height: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
} input {
    margin-bottom: 30px;
    border: 3px solid rgb(255, 179, 0);
    padding: 10px;
    background-color: white;
} [type=button]:hover {
    cursor: pointer;
}

.container {
    margin: auto;
    border: 2px solid black;
    position: relative;
    background-color: rgb(66, 66, 224);
}

.container > div:hover {
    cursor: pointer;
}

.circle {
    border-radius: 100px;
    background-color: rgb(255, 179, 0);
}
